@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome</h1> <!--to add space after navigation bar-->
    <style>
        body {
            background-image: url(https://images.hindustantimes.com/tech/img/2021/07/29/1600x900/Computer_7_1625598424996_1627537012527.jpg);
        }
    </style><!--code to show the image on the home page-->
    <h1>Welcome</h1><!--code to show the heading of welcome on the home page-->
    <p><b>Technology that changes the future</b></p><!--code to show the tagline on the home page-->
</div>

